<app-navbar></app-navbar>
<div class="container-fluid">
    <ul class="list-group list-group-flush my-5">
        <li *ngFor="let chat of chatList" class="card p-2 my-1 bg-dark text-light">
            <span>{{chat}}</span>
            <h4 class="mx-2">{{chat}}</h4>
        </li>
    </ul>
    <br class="m-3">
    <div class="fixed-bottom bg-dark">
        <div class="row m-3">
            <div class="col-10">
                <input class="form-control" type="text" [(ngModel)]="newChat" (keyup)="$event.keyCode == 13 && sendChat()">
            </div>
            <div class="col-2">
                <button class="btn btn-warning col-12" (click)="sendChat()">Send</button>
            </div>
        </div>
    </div>
</div>