<app-navbar></app-navbar>
<div class="container-fluid">
    <ul id="chatList" class="list-group list-group-flush">
        <li *ngFor="let chat of chatList" class="card p-2 my-1 bg-dark text-light">
            <span>{{chat.name}}</span>
            <h4 class="mx-2">{{chat.text}}</h4>
        </li>
    </ul>
    <div class="fixed-bottom bg-dark">
        <div class="row m-2">
            <div class="col-9 mb-1">
                <input class="form-control" type="text" [(ngModel)]="newChat.text" (keyup)="$event.keyCode == 13 && sendChat()">
            </div>
            <div class="col-3">
                <button class="btn btn-warning col-12" (click)="sendChat()">Send</button>
            </div>
        </div>
    </div>
</div>